### tema-6-bd ###
.metadata
bin/

### Eclipse Patch ###
# Eclipse Core
.project
.classpath
.settings/
.loadpath

### Java ###
# Compiled class file
*.class
# Package Files #
*.jar
*.war
*.zip
*.tar.gz
*.rar

.gradle
build/

.dbeaver-data-sources*.xml
